@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #313638;
  --secondary-color: #e0dfd5;
  --card-border-color: #e4b363;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
.header {
  height: 100px;
  display: flex;
  align-items: center;
  background: var(--primary-color);
}

.header h1 {
  margin-left: 50px;
  color: var(--secondary-color);
  font-size: 3rem;
}

/* MAIN */
.main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100%;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.projects {
  margin: 15px;
}

.projects-list {
  margin-left: 15px;
  list-style-type: none;
}

/* CONTENT */
.content {
  width: 100%;
  padding: 15px;
}

.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 90%;
  margin-block: 15px;
  padding: 15px;
  border: 1px solid var(--card-border-color);
  border-left-width: 10px;
  border-radius: 10px;
}

.card-title {
  font-size: 1.2rem;
}

.card-info {
  margin-block: 5px;
  font-size: 1rem;
}

.card-due-date,
.card-priority {
  font-weight: bold;
}

.new-task-btn {
  width: 100px;
  height: 30px;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: var(--secondary-color);
  cursor: pointer;
  box-shadow: 10px 5px 5px var(--secondary-color);
  transition: all 0.2s ease-out;
}

.new-task-btn:hover {
  opacity: 0.7;
}
