@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #313638;
  --secondary-color: #e0dfd5;
  --card-border-color: #e4b363;
  --danger-color: #e71d36;
  --success-color: #adf6b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
.header {
  height: 100px;
  display: flex;
  align-items: center;
  background: var(--primary-color);
}

.header h1 {
  margin-left: 50px;
  color: var(--secondary-color);
  font-size: 3rem;
}

/* MAIN */
.main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100%;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.projects {
  margin: 15px;
}

.projects-list {
  margin-left: 15px;
  list-style-type: none;
}

/* CONTENT */
.content {
  width: 100%;
  padding: 15px;
}

.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 90%;
  margin-block: 15px;
  padding: 15px;
  border: 1px solid var(--card-border-color);
  border-left-width: 10px;
  border-radius: 10px;
}

.card-title {
  font-size: 1.2rem;
}

.card-description {
  margin-block: 5px;
  font-size: 1rem;
}

.card-due-date,
.card-priority {
  font-weight: bold;
}

.form {
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--card-border-color);
  border-radius: 10px;
}

.form-control {
  width: 400px;
  margin-block: 10px;
}

.form-header {
  text-align: center;
}

.form-control label {
  display: block;
  font-weight: bold;
}

.form-control input,
.form-control textarea,
.form-control select {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.form-control input:focus,
.form-control textarea:focus,
.form-control select:focus {
  outline: none;
  box-shadow: 10px 5px 10px var(--primary-color);
}

.form-control textarea {
  resize: none;
}

.form-actions {
  margin-block: 15px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* BUTTONS */
.btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 10px 5px 10px var(--primary-color);
  transition: all 0.2s ease-out;
}

.btn:hover {
  opacity: 0.7;
}

.btn-dark {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-danger {
  background: var(--danger-color);
  color: var(--secondary-color);
}

.btn-success {
  background: var(--success-color);
  color: var(--primary-color);
}

#new-project-btn {
  display: block;
  margin: 20px auto;
}

/* MODAL */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.hidden {
  display: none;
}
